/* content */

.qna_container {
    width: 50rem;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    margin: 4.5rem auto;
}

.qna_question {
    height: 4rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
}

.qna_answer {
    background-color: #f7f7f7;
    display: none;
    padding: 2.5rem 3rem;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    line-height: 1.5;
}

.qna_answer span {
    font-size: 1.25rem;
    color: #333333;
}

#qna_q, .qna_image {
    flex-basis: 4rem;
    flex-shrink: 0;
}

.qna_question .qna_image {
    width: 45px;
    height: 24px;
    margin-right: 1.3rem;
}

.qna_question #qna_q {
    font-size: 1.5rem;
    color: #333333;
    font-weight: 200;
}

.qna_question #qna_context {
    flex-basis: 100%;
    font-size: 1.25rem;
    color: #333333;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}