/* content */

.pi_nav {
    margin-top: 63px;
}

.pi_ul {
    border: 1px solid #999999;
    display: inline-flex;
    border-right: 0px;
    border-radius: 5px;
}

.pi_li {
    width: 147px;
    height: 43.5px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: #333333;
    border-right: 1px solid #999999;
    cursor: pointer;
}

.pi_li:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pi_li:nth-child(4) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pi_li.active {
    color: white;
    background-color: #084aaa;
}

/* sub */

.sub_pi_header {
    display: flex;
    flex-direction: column;
    margin: 66.5px auto 65px;
    text-align: left;
    width: 588px;
}

.sub_pi_header span:nth-child(1) {
    font-size: 25px;
    color: #333333;
}

.sub_pi_header span:nth-child(2) {
    font-size: 18px;
    color: #666666;
    margin-top: 57px;
    margin-bottom: 18.5px;
    line-height: 1.5;
}

.sub_pi_header span:nth-child(3) {
    font-size: 15px;
    color: #084aaa;
    line-height: 1.5;
}

.sub_pi_section {
    background-color: rgba(250, 250, 250, 0.5);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sub_pi_section div {
    width: 588px;
    margin: 47px auto 0px;
}

.sub_pi_section p {
    margin-top: 37.5px;
    margin-bottom: 51.57px;
}

.sub_pi_section div:nth-child(1) {
    border-bottom: 1px solid #707070;
}

.sub_pi_section div:nth-child(2) {
    border-bottom: 1px solid #707070;
}

.sub_pi_section div:nth-child(4) {
    border-top: 1px solid #707070;
    margin-top: 0;
    display: inline-block;
    padding-top: 37.5px;
}

.sub_pi_title {
    font-size: 24px;
    color: #333333;
    line-height: 1.5;
}

.sub_pi_context {
    font-size: 14px;
    color: #666666;
    line-height: 1.5;
}

.sub_pi_custom {
    margin: 66.5px auto 0;
    padding-top: 37px;
    padding-bottom: 62.9px;
    background-color: rgba(250, 250, 250, 1);
    display: block;
}

.sub_pi_custom > header {
    margin-top: 0;
    margin-bottom: 0;
}
